entrypoint = "src/routes/+page.svelte"
modules = ["svelte-kit-node-20", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "node build/index.js"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000

[[ports]]
localPort = 5173
externalPort = 80
