entrypoint = "src/routes/+page.svelte"
modules = ["svelte-kit-node-20", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "vite build"]
run = ["sh", "-c", "npm run preview --host high-crushing-transversal.replit.app"]
deploymentTarget = "gce"

[[ports]]
localPort = 4173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5173

[[ports]]
localPort = 5174
